.footer-2 {
    /* display:flex; */
    padding-bottom: 0px;
    top: 445px;
    right: 0px;
    position: relative;
    /* width: 100%; */

    height: 150px;
    /* flex-shrink: 0; */
    background: #F0F0F0;

    /* bottom: -357px; */
    justify-content: space-around;
    /* align-items: flex-start; */
    /* flex-direction: column; */

}

.copy-rights {
    color: rgba(0, 0, 0, 0.60);
    text-align: right;
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left:10px ;
}

.line {
    width: 59vw;
    text-align: center;
    margin-left: 20vw;
}
 .last-right {
    display: inline-flex;
    align-items: flex-end;
    gap: 12px;
    padding-right:10px ;


}

.bottom-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 100px;
}