* {
    margin: 0px;
    padding: 0px;
}

.topmost-header {
    /* display: inline-flex; */
    height: 35px;
    /* padding: 9px 100px 9px 800px; */
    /* justify-content: flex-end;  */
    /* align-items: flex-start; */
    /* gap: 4px;  */
    /* flex-shrink: 0; */
    background-color: black;
    margin-top: 0;
}

.typo-topmost-header {
    color: #FFF;
    font-family: Satoshi;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 9px 0px 9px 0px;
    text-align: center;

}

.container {
    display: flex;
    height: 70px;
    justify-content: center;
}

.nav-bar {
    display: flex;
    /* width: 1240px; */
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left: 10px;
}

.nav-bar-center {
    display: flex;
    align-items: center;
    gap: 24px;
}

.Logo {
    color: #000;
    /* leading-trim: both; */
    /* text-edge: cap; */
    font-family: "Integral CF";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav-bar-right {
    display: flex;
    column-gap: 12px;
    width: 577px;
    position: relative;

}

.search-bar {
    display: flex;
    /* position: relative; */
    /* padding: 12px 16px; */
    padding-left: 45px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 62px;
    background: #F0F0F0;
    color: rgba(0, 0, 0, 0.40);
    font-family: Satoshi;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.8;
    
}

.search-logo {
    position: absolute;
    top: 12px;
    /* right: 182px; */
    color: #00000066;
    left: 15px;
}
.nav-logo{
    padding-top: 10px;
}